@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat' , sans-serif;
    background: url('https://unsplash.com/photos/LtWFFVi1RXQ');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    

}

.container {
    padding: 20px 70px;
}

current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container {
    font-weight: 100;
}

.date-container .time {
    font-size: 70px;
}

.date-container .date {
    font-size: 30px;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 100;
}

.place-container .country {
    font-size: 12px;
    font-weight: 700;
}